.DS_Store
build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Configs
configs/*.json
!configs/default-keywords.sample.json
*.json

# Windows
.vs/
bin/
obj/
*.user
